:root {
    --primary-yellow: hsl(47, 88%, 63%);

    --neutral-white: hsl(0, 0%, 100%);
    --neutral-gray: hsl(0, 0%, 50%);
    --neutral-black: hsl(0, 0%, 7%);

    --par-font-size: 16px;

    --box-width: 280px;
    ;
}

@font-face {
    font-family: "Figtree";
    src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "FigtreeBold";
    src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "FigtreeItalic";
    src: url("assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "FigtreeItalicBold";
    src: url("assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    border-radius: 1em;
    font-family: Figtree;
    margin-bottom: 0.5em;
    font-size: var(--par-font-size);
}

body {
    background-color: var(--primary-yellow);
    display: flex;
    height: 98vh;
    width: 98vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--neutral-white);
    padding: 1.5em;
    width: var(--box-width);
    border: solid;
    border-width: 1px;
    box-shadow: 0.5em 0.5em;
    margin-bottom: 1em;
}

h1 {
    background-color: var(--primary-yellow);
    font-style: FigtreeBold;
    font-size: 0.7em;
    border-radius: 0.4em;
    width: fit-content;
    --padding-vertical: 0.5em;
    --padding-horizontal: 0.9em;
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
}

img.illustration {
    width: 100%;
}

a.title {
    color: var(--neutral-black)
           font-style: FigtreeBold;
    font-weight: 800;
    font-size: 1.25em;
    text-decoration: none;
}

a.title:hover {
    color: var(--primary-yellow);
}

section.published {
    font-size: 0.7em;
}

p.quote {
    color: var(--neutral-gray);
    margin-bottom: 1em;
    font-size: 0.85em;
}

section.signature {
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
}

img.avatar {
    height: 2.5em;
}

p.name {
    font-family: FigtreeBold;
    margin: 1em;
}

footer.attribution {
    font-size: 11px;
    text-align: center;
}

a.attribution {
    font-size: 11px;
    color: hsl(228, 45%, 44%);
}
